@mixin deafultBoxShadow($shadow: #282c34ce) {
  border: none;
  border-radius: 12px;
  box-shadow: 0.35px 0.35px 3px 0.15px $shadow;
  color: #1a1a1b;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .time-dots {
    animation: Dots-blink 1.05s infinite;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  font-size: calc(1em + 2vmin);
  justify-content: center;
  min-height: 8vh;
  padding: 0.5em;
  top: 0;
  width: 100%;
}

@keyframes Dots-blink {
  50% { opacity: 1; }
  55% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
