.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .time-dots {
    animation: Dots-blink 1.05s infinite;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 0;
  width: 100%;
}

.meeting {
  border: solid thin #282c34;
  color: #1a1a1b;
  font-size: large;
  letter-spacing: 0.5px;
  margin: 8px 0;
  max-width: calc(30vw + 3vmin);
  padding: 5px 8px;

  b {
    color: #0d0f13;
  }

  button {
    background-color: transparent;
    border: none;
    margin: 12px;
  }
}

@keyframes Dots-blink {
  50% { opacity: 1; }
  55% { opacity: 0; }
  95% { opacity: 0; }
  100% { opacity: 1; }
}
